.faq {
  &-content {
    width: 66%;
    @include pad {
      width: 100%;
    }
  }
  &-title {
    @include mobile {
      margin-bottom: 24px;
      font-size: 24px;
    }
  }
  &-ques {
    li:not(:last-child) {
      margin-bottom: 32px;
    }
    @include mobile {
      li {
        margin-bottom: 24px;
      }
    }
  }
}
