<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout_Week4_Main-Mission</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-banner">
      <div class="banner container h-100 d-flex jc-fe ai-c">
        <div class="banner-content color-secondary d-flex fxd-c ai-fe">
          <h3 class="fs-9">Promise-Desert 2020 早春系列</h3>
          <p class="fs-16 fw-bold mb-4">看得清，才能看得遠</p>
          <a
            href="#"
            class="banner-btn color-white bg-primary fw-medium ta-c fs-5"
            >立即購買</a
          >
        </div>
      </div>
    </div>
    <div class="bg-secondary">
      <div class="features container">
        <h4 class="fs-12 fw-bold color-secondary ta-c mb-24">
          用專業的心，做專業的事
        </h4>
        <ul class="row">
          <li class="col-3 col-md-6 col-sm-12">
            <div class="feature-img m0-a mb-16">
              <img src="../assets/images/home-section2-1.png" alt="" />
            </div>
            <h3 class="fs-6 fw-bold ta-c color-secondary mb-8">單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <div class="feature-img m0-a mb-16">
              <img src="../assets/images/home-section2-2.png" alt="" />
            </div>
            <h3 class="fs-6 fw-bold ta-c color-secondary mb-8">
              20 分鐘即可取件
            </h3>
            <p>
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <div class="feature-img m0-a mb-16">
              <img src="../assets/images/home-section2-3.png" alt="" />
            </div>
            <h3 class="fs-6 fw-bold ta-c color-secondary mb-8">安心售後服務</h3>
            <p>
              我們提供長達
              120天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </p>
          </li>
          <li class="col-3 col-md-6 col-sm-12">
            <div class="feature-img m0-a mb-16">
              <img src="../assets/images/home-sectioin2-4.png" alt="" />
            </div>
            <h3 class="fs-6 fw-bold ta-c color-secondary mb-8">關於鏡片</h3>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="classic container">
      <h2 class="color-secondary fs-12 fw-bold ta-c pb-48">經典系列鏡框</h2>
      <ul class="d-flex g-24">
        <li class="classic-category w-33">
          <div
            class="classic-img pb-8"
            style="background-image: url(../assets/images/home-section3-1.png)"
          ></div>
          <h3 class="color-primary fs-12 fw-black italic ta-c">OPTICAL</h3>
        </li>
        <li class="classic-category w-33">
          <div
            class="classic-img pb-8"
            style="background-image: url(../assets/images/home-section3-2.png)"
          ></div>
          <h3 class="color-primary fs-12 fw-black italic ta-c">SUNGLASSES</h3>
        </li>
        <li class="classic-category w-33">
          <div
            class="classic-img pb-8"
            style="background-image: url(../assets/images/home-section3-3.png)"
          ></div>
          <h3 class="color-primary fs-12 fw-black italic ta-c">FUNCTIONAL</h3>
        </li>
      </ul>
    </div>
    <div class="bg-feat">
      <div class="feat container ta-c">
        <h2 class="fs-12 fw-bold color-white mb-48">聯名設計鏡框</h2>
        <ul class="d-flex">
          <li class="feat-category">
            <div class="feat-img"></div>
            <h3 class="fs-12 fw-black italic color-primary pt-8 pb-8">
              DOUBLE A+
            </h3>
          </li>
          <li class="feat-category">
            <div class="feat-img"></div>
            <h3 class="fs-12 fw-black italic color-primary pt-8 pb-8">YOUTH</h3>
          </li>
        </ul>
      </div>
    </div>
    <div class="recommendation container">
      <h4 class="fs-12 fw-bold ta-c color-secondary mb-48">顧客推薦</h4>
      <ul class="d-flex g-24">
        <li class="recommendation-card w-25">
          <div
            class="recommendation-card-img"
            style="background-image: url(../assets/images/home-section5-1.png)"
          ></div>
          <div class="recommendation-text d-flex fxd-c jc-sb">
            <div>
              <h5 class="fw-medium mb-8">Jessy</h5>
              <p>眼鏡品質優良，下次還會想來這邊購買！</p>
            </div>
            <time class="fs-14" datetime="2021-06-20">2021/06/20</time>
          </div>
        </li>
        <li class="recommendation-card w-25">
          <div
            class="recommendation-card-img"
            style="background-image: url(../assets/images/home-section5-2.png)"
          ></div>
          <div class="recommendation-text d-flex fxd-c jc-sb">
            <div>
              <h5 class="fw-medium mb-8">凱倫</h5>
              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            </div>
            <time class="fs-14" datetime="2021-04-18">2021/04/18</time>
          </div>
        </li>
        <li class="recommendation-card w-25">
          <div
            class="recommendation-card-img"
            style="background-image: url(../assets/images/home-section5-3.png)"
          ></div>
          <div class="recommendation-text d-flex fxd-c jc-sb">
            <div>
              <h5 class="fw-medium mb-8">悠悠</h5>
              <p>
                謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
              </p>
            </div>
            <time class="fs-14" datetime="2020-12-25">2020/12/25</time>
          </div>
        </li>
        <li class="recommendation-card w-25">
          <div
            class="recommendation-card-img"
            style="background-image: url(../assets/images/home-section5-4.png)"
          ></div>
          <div class="recommendation-text d-flex fxd-c jc-sb">
            <div>
              <h5 class="fw-medium mb-8">Kyuan</h5>
              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
            </div>
            <time class="fs-14" datetime="2020-10-31">2020/10/31</time>
          </div>
        </li>
      </ul>
    </div>
    <div class="bg-contact bg-secondary">
      <div class="contact container">
        <div class="contact-content m0-a">
          <h4 class="fs-12 fw-bold color-secondary mb-48 ta-c">聯絡我們</h4>
          <p class="fs-5 mb-24">
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
          </p>
          <form action="">
            <ul class="contact-list">
              <li>
                <label class="contact-form-label" for="name">姓名</label
                ><input
                  type="text"
                  id="name"
                  placeholder="陳小明"
                  class="contact-form-input w-100"
                />
              </li>
              <li>
                <label class="contact-form-label" for="tel">聯絡電話</label
                ><input
                  type="tel"
                  id="tel"
                  placeholder="0912-345-678"
                  class="contact-form-input w-100"
                />
              </li>
              <li>
                <label class="contact-form-label" for="email">電子郵件</label
                ><input
                  type="email"
                  id="email"
                  placeholder="example@email.com"
                  class="contact-form-input w-100"
                />
              </li>
              <li>
                <label class="contact-form-label" for="feedback"
                  >意見反應</label
                >
                <textarea
                  id="feedback"
                  placeholder="請輸入您的意見"
                  class="contact-form-input w-100"
                  rows="6"
                >
                </textarea>
              </li>
              <li class="agree-item d-flex ai-fs mb-48">
                <input type="checkbox" id="privacy" /><label for="privacy"
                  >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
                >
              </li>
            </ul>
            <button
              type="submit"
              class="contact-form-button color-white bg-primary m0-a w-100"
            >
              確認送出
            </button>
          </form>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
